# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
psql/
*.egg-info/
.installed.cfg
*.egg
node_modules/
.idea/
# Serverless directories
.serverless
__pycache__
upload/
alembic/versions/
db/
/psycopg2/
/psycopg2x/

orm/models/

models
alembic/
alembic.ini



*.pdf
*.csv
